body, #root, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

#root {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 60px);
	overflow-y: scroll;
	overflow-x: hidden;
	--scrollbar-thickness: 0;
	
	&.scrollbar {
		--scrollbar-thickness: 16px;
		
		&::-webkit-scrollbar, *::-webkit-scrollbar {
			width: var(--scrollbar-thickness);
			border: 1px solid hsla(0, 0%, 0%, 0.5);
			scrollbar-gutter: stable;
			background-image: url("@/assets/ScrollbarTrack.png");
			background-size: cover;
		}
		
		&::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
			background: transparent;
		}
		
		&::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
			background-image: url("@/assets/ScrollbarThumb.png");
			border-radius: 8px;
			border: var(--padding) solid transparent;
			border-left-width: calc(var(--padding) + 1px);
			background-clip: content-box;
			--padding: 3px;
			
			&:hover {
				background-image: url("@/assets/ScrollbarThumb-hovered.png");
			}
		}
	}
}
