main.homePage {
	> section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		padding: 80px 0;
	}
	
	> section.introduction {
		padding-top: 140px;
		background-image: linear-gradient(-45deg, hsl(40, 9%, 87%), hsl(40, 9%, 67%));
		text-align: center;
		font-family: 'Oswald', 'Gill Sans', 'Gill Sans MT', sans-serif;
		margin-bottom: 64px;
		
		> img.logo {
			width: 65%;
			margin-bottom: 32px;
			border-radius: 32px;
			border: 10px solid transparent;
			outline: 8px dashed hsla(0, 0%, 0%, 0.15);
			background-color: hsla(0, 0%, 0%, 0.05);
		}
		
		> h1.title {
			font-weight: normal;
		}
		
		> h2.obmc {
			font-weight: normal;
			color: hsl(209, 87%, 21%);
		}
	}
	
	> section.body {
		> div.content {
			display: flex;
			flex-direction: column;
			gap: 32px;
			width: 60%;
			font-size: 1.3rem;
			line-height: 2;
			font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
			
			> .first {
				text-align: justify;
			}
			
			> .second {
				text-align: justify;
			}
		}
	}
	
	@media only screen and (max-width: 750px) {
		> section.introduction {
			padding-top: 100px;
			
			> img.logo {
				border-width: 5px;
				outline-width: 4px;
				width: 85%;
			}
		}
		
		> section.body > div.content {
			width: 85%;
			gap: 16px;
			line-height: 1.5;
		}
	}
}
