main.whoPage {
	> section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		padding: 80px 0;
	}
	
	> section.header {
		padding-top: 150px;
		padding-bottom: 100px;
		position: relative;
		text-transform: uppercase;
		text-align: center;
		
		> h1 {
			font-family: 'Gaegu', sans-serif;
			font-size: 10rem;
		}
		
		> img.background {
			filter: brightness(150%) contrast(50%);
			object-fit: cover;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: hsl(27, 25%, 45%);
		}
	}
	
	> section.body {
		padding: 50px 0;
		gap: 64px;
		
		> div.content {
			width: 80vw;
			display: flex;
			flex-direction: column;
			gap: 32px;
			font-family: 'Gaegu', sans-serif;
			font-weight: bold;
			font-size: 2rem;
			text-align: center;
			
			> section.team, > section.heads > section {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 10px;
				padding: 10px;
				margin: 10px;
				border: 2px solid black;
				border-radius: 10px;
				background-image: url("@/assets/PaperBackground.png");
			}
			
			> section.team {
				font-size: 3rem;
				border: 0;
				background-image: unset;
				
				> .content {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 10px;
					padding: 10px;
					border: 2px solid black;
					border-radius: 10px;
					background-image: url("@/assets/PaperBackground.png");
					
					> img {
						width: 30vw;
						min-width: 40vh;
						border-radius: 10px;
						object-fit: cover;
					}
				}
			}
			
			> section.heads {
				display: flex;
				flex-direction: row;
				justify-content: center;
				gap: 16px;
				flex-wrap: wrap;
				
				> section {
					> img {
						background-color: hsla(0, 0%, 0%, 0.2);
						border-radius: 10px;
						width: 200px;
					}
				}
			}
		}
	}
	
	@media only screen and (max-width: 750px) {
		> section.header {
			padding-top: 50px;
			padding-bottom: 50px;
			
			> h1 {
				font-size: 3rem;
			}
		}
		
		> section.body {
			> div.content {
				width: 100%;
				font-size: 1rem;
				
				> section.team {
					font-size: 1rem;
				}
				
				> section.heads > section > img {
					width: 100px;
				}
			}
		}
	}
}
